@import "bulmaOverrides";

div.elm-overlay {
  z-index: 2;
}

.wrapper {
  margin-top: 5px;
}

.button-area {
  margin-bottom: 15px;

  .button {
	margin-right: 10px;
  }
}

.title {
  > .icon {
	margin-right: 10px;
  }
}

.buildType {
  cursor: pointer;

  &:hover {
	background-color: $light;
  }

  &.selected {
	background-color: $green;
  }
}

.project-area {
  padding: 3px;
  height: calc(100vh - 206px);
  overflow: auto;

  .top-project:not(:first-child) {
    margin-top: 40px;
  }
}

@import "dashboard";
