@import "bulmaOverrides";

div.elm-overlay {
  z-index: 2;
}

.navbar {
  //border-bottom: solid 1px #000;
  background-color: $light;
  z-index: 10;

  .navbar-item {

      .container, .column {
        &> .icon {
          margin-right: 5px;
        }
      }

  }
}
