@import "bulmaOverrides";

div.elm-overlay {
  z-index: 2;
}

.wrapper {
  margin-top: 5px;
}

.button-area {
  margin-bottom: 15px;

  .button {
	margin-right: 10px;
  }
}

.title {
  > .icon {
	margin-right: 10px;
  }
}

.buildType {
  cursor: pointer;

  &:hover {
	background-color: $light;
  }

  &.selected {
	background-color: $green;
  }
}

.project-area {
  height: calc(100vh - 100px);
  overflow: auto;

  .top-project {
    &> .box {
      margin-left: 5px;
      margin-right: 5px;
    }

    &> h4 {
      margin-left: 10px;
    }
  }

  .top-project:not(:first-child) {
    margin-top: 40px;
  }
}

.level-item.buttons {
  button {
    margin-right: 5px;
  }
}

@import "dashboard";
